# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDE / Editor
.vscode/
.idea/
*.swp

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
